body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    
}
.login-container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #D9D9D9;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 25px;
    text-align: center;
    
}

.main2{
    background-color: #7c0000;
    width: 50%;
    height: 100vh;
    border-radius: 0 25px 25px 0 ;
}
.main2 h1{
    color: #f3aa36;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 40px;
}

label{
    text-align: left;
}
.input-field {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #f3aa36;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(255, 191, 0);
}

@keyframes spinning {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
    }
.logoimg{
    width: 587px;
    height: 455px;
    margin-left: 90px;
    margin-top: 100px;
    animation-name: spinning;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.logo-name{
    margin-top: -100px;
    text-align: center;
}

.loginpage{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

}

